In [42]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import plotly.express as px
import pandas as pd
import numpy as np
import requests
import time
import json
import string
from datetime import date 
from scipy.stats import linregress

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
#Notes: https://data.cdc.gov/Nutrition-Physical-Activity-and-Obesity/Nutrition-Physical-Activity-and-Obesity-Behavioral/hn4x-zwk7

In [43]:
#Import the API Key
#from api_key import api_key
#Don't need API Key

#import data
#url = "https://data.cdc.gov/resource/hn4x-zwk7.json"
data_df = pd.read_csv(r"Resources\Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System_20231101.csv")

#response = requests.get(url)
#data = response.json()

#data_df.info()
data_df

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2020,2020,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Race/Ethnicity,Hispanic,RACE,RACEHIS
1,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR
4,2015,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,NaN,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88624,2021,2021,ND,North Dakota,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming vegetab...,NaN,Value,...,"(47.47531977900047, -100.11842104899966)",FV,FV1,Q019,VALUE,38,Gender,Male,GEN,MALE
88625,2021,2021,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.220833, -66.590149)",PA,PA1,Q047,VALUE,72,Income,"$35,000 - $49,999",INC,INC3550
88626,2021,2021,WI,Wisconsin,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(44.39319117400049, -89.81637074199966)",PA,PA1,Q047,VALUE,55,Income,"$75,000 or greater",INC,INC75PLUS
88627,2021,2021,UT,Utah,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(39.360700171000474, -111.58713063499971)",FV,FV1,Q018,VALUE,49,Income,"$50,000 - $74,999",INC,INC5075
88628,2021,2021,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Income,Data not reported,INC,INCNR

In [44]:

list_of_categories = data_df['StratificationCategory1'].unique()
list_of_categories

array(['Race/Ethnicity', 'Education', 'Income', 'Age (years)', 'Gender',
       'Total', nan], dtype=object)

In [45]:
ethnicity_df = [data_df['StratificationCategory1'] == 'Race/Ethnicity']
ethnicity_df

[0         True
 1        False
 2        False
 3        False
 4        False
          ...
 88624    False
 88625    False
 88626    False
 88627    False
 88628    False
 Name: StratificationCategory1, Length: 88629, dtype: bool]

In [52]:
education_df = data_df[data_df['StratificationCategory1'] == 'Education']
education_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
1,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
7,2012,2012,DC,District of Columbia,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(38.890371385, -77.031961127)",OWS,OWS1,Q036,VALUE,11,Education,Less than high school,EDU,EDUHS
10,2015,2015,GU,Guam,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(13.444304, 144.793731)",PA,PA1,Q047,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
21,2012,2012,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Education,Some college or technical school,EDU,EDUCOTEC
43,2016,2016,RI,Rhode Island,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(41.708280193, -71.522470314)",OWS,OWS1,Q036,VALUE,44,Education,College graduate,EDU,EDUCOGRAD

In [53]:
income_df = data_df[data_df['StratificationCategory1'] == 'Income']
income_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR
4,2015,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,NaN,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15
8,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.220833, -66.590149)",PA,PA1,Q047,VALUE,72,Income,"$25,000 - $34,999",INC,INC2535
13,2012,2012,WY,Wyoming,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.235541343, -108.109830353)",PA,PA1,Q047,VALUE,56,Income,"Less than $15,000",INC,INCLESS15

In [54]:
age_df = data_df[data_df['StratificationCategory1'] == 'Age (years)']
age_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
9,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Age (years),25 - 34,AGEYR,AGEYR2534
17,2015,2015,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Age (years),55 - 64,AGEYR,AGEYR5564
24,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q037,VALUE,72,Age (years),55 - 64,AGEYR,AGEYR5564
25,2011,2011,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Age (years),18 - 24,AGEYR,AGEYR1824
29,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.220833, -66.590149)",PA,PA1,Q047,VALUE,72,Age (years),45 - 54,AGEYR,AGEYR4554

In [55]:
gender_df = data_df[data_df['StratificationCategory1'] == 'Gender']
gender_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
23,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Gender,Female,GEN,FEMALE
32,2020,2020,ME,Maine,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(45.254228894000505, -68.98503133599962)",PA,PA1,Q047,VALUE,23,Gender,Male,GEN,MALE
36,2016,2016,WY,Wyoming,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(43.235541343, -108.109830353)",OWS,OWS1,Q037,VALUE,56,Gender,Female,GEN,FEMALE
41,2016,2016,NY,New York,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(42.827001032, -75.543970427)",OWS,OWS1,Q036,VALUE,36,Gender,Male,GEN,MALE
49,2016,2016,AR,Arkansas,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(34.748650124, -92.274490743)",OWS,OWS1,Q037,VALUE,5,Gender,Male,GEN,MALE

In [56]:
totals_df = data_df[data_df['StratificationCategory1'] == 'Total']
totals_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
31,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q036,VALUE,72,Total,Total,OVR,OVERALL
53,2016,2016,NM,New Mexico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(34.520880952, -106.240580985)",OWS,OWS1,Q036,VALUE,35,Total,Total,OVR,OVERALL
76,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in muscle-strengt...,NaN,Value,...,"(18.220833, -66.590149)",PA,PA1,Q046,VALUE,72,Total,Total,OVR,OVERALL
93,2016,2016,NH,New Hampshire,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(43.655950113, -71.50036092)",OWS,OWS1,Q036,VALUE,33,Total,Total,OVR,OVERALL
110,2016,2016,AZ,Arizona,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(34.86597028, -111.763811277)",PA,PA1,Q047,VALUE,4,Total,Total,OVR,OVERALL

In [57]:
#response.content
age_df = data_df[data_df['StratificationCategory1'] == 'Age (years)']
age_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
9,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Age (years),25 - 34,AGEYR,AGEYR2534
17,2015,2015,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Age (years),55 - 64,AGEYR,AGEYR5564
24,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q037,VALUE,72,Age (years),55 - 64,AGEYR,AGEYR5564
25,2011,2011,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Age (years),18 - 24,AGEYR,AGEYR1824
29,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.220833, -66.590149)",PA,PA1,Q047,VALUE,72,Age (years),45 - 54,AGEYR,AGEYR4554

In [29]:
# Convert data into a Pandas DataFrame
#data_df = pd.DataFrame(data)

#data_df = data_df[['yearend','locationabbr','question','data_value','sample_size','age_years','StratificationCategory1','Stratification1']]
data_df = data_df[['YearEnd','LocationAbbr','Question','Data_Value','Sample_Size','Race/Ethnicity','Education','Gender','StratificationCategory1','Stratification1']]
#data_df['data_value'] = data_df.data_value.astype(float)
#data_df['sample_size'] = data_df.sample_size.astype(float)

#data_df = data_df[data_df['sample_size'].notna()]

data_df.info()
# Show Record Count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88629 entries, 0 to 88628
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   YearEnd                  88629 non-null  int64
 1   LocationAbbr             88629 non-null  object
 2   Question                 88629 non-null  object
 3   Data_Value               79851 non-null  float64
 4   Sample_Size              79851 non-null  float64
 5   Race/Ethnicity           25320 non-null  object
 6   Education                12660 non-null  object
 7   Gender                   6330 non-null   object
 8   StratificationCategory1  88620 non-null  object
 9   Stratification1          88620 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 6.8+ MB

In [58]:
#Add calculated number of obese people
data_df['calculated_num_obese'] = round(data_df['Sample_Size'] * data_df['Data_Value'] * .01)
data_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1,calculated_num_obese
0,2020,2020,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,PA,PA1,Q047,VALUE,59,Race/Ethnicity,Hispanic,RACE,RACEHIS,9564.0
1,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD,247.0
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075,18018.0
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR,19643.0
4,2015,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15,8220.0

In [59]:
num_of_participants = data_df['Sample_Size'].sum()
num_of_participants

291999859.0

In [60]:
#These are the questions this dataset answers
list_of_questions = data_df['Question'].unique()
print(sorted(list_of_questions))

['Percent of adults aged 18 years and older who have an overweight classification', 'Percent of adults aged 18 years and older who have obesity', 'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)', 'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week', 'Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)', 'Percent of adults who engage in muscle-strengthening activities on 2 or more days a week', 'Percent of adults who engage in no leisure-time physical activity', 'Percent of adults who report consuming fruit less than one time daily', 'Percent of adults who report consuming vegetables less than one time daily']

In [61]:
overweight_df = data_df[data_df['Question'] == 'Percent of adults aged 18 years and older who have an overweight classification']
overweight_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1,calculated_num_obese
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR,19643.0
6,2012,2012,WY,Wyoming,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q037,VALUE,56,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA,33.0
11,2015,2015,RI,Rhode Island,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q037,VALUE,44,Race/Ethnicity,Hispanic,RACE,RACEHIS,142.0
16,2015,2015,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q037,VALUE,66,Race/Ethnicity,Other,RACE,RACEOTH,NaN
21,2012,2012,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q037,VALUE,59,Education,Some college or technical school,EDU,EDUCOTEC,42131.0

In [62]:
obese_df = data_df[data_df['Question'] == 'Percent of adults aged 18 years and older who have obesity']
obese_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1,calculated_num_obese
1,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD,247.0
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075,18018.0
7,2012,2012,DC,District of Columbia,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q036,VALUE,11,Education,Less than high school,EDU,EDUHS,77.0
9,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q036,VALUE,1,Age (years),25 - 34,AGEYR,AGEYR2534,210.0
12,2011,2011,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q036,VALUE,59,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA,2354.0

In [63]:
no_leisure_df = data_df[data_df['Question'] == 'Percent of adults who engage in no leisure-time physical activity']
no_leisure_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16549 entries, 0 to 88628
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   16549 non-null  int64
 1   YearEnd                     16549 non-null  int64
 2   LocationAbbr                16549 non-null  object
 3   LocationDesc                16549 non-null  object
 4   Datasource                  16549 non-null  object
 5   Class                       16549 non-null  object
 6   Topic                       16549 non-null  object
 7   Question                    16549 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             16549 non-null  object
 10  Data_Value                  14984 non-null  float64
 11  Data_Value_Alt              14984 non-null  float64
 12  Data_Value_Footnote_Symbol  1565 non-null   object
 13  Data_Value_Footnote         1565 non-null   object
 14  Low_Confidence_Limit        14984 non-null  float64
 15  High_Confidence_Limit       14984 non-null  float64
 16  Sample_Size                 14984 non-null  float64
 17  Total                       591 non-null    object
 18  Age(years)                  3546 non-null   object
 19  Education                   2364 non-null   object
 20  Gender                      1182 non-null   object
 21  Income                      4137 non-null   object
 22  Race/Ethnicity              4728 non-null   object
 23  GeoLocation                 16241 non-null  object
 24  ClassID                     16549 non-null  object
 25  TopicID                     16549 non-null  object
 26  QuestionID                  16549 non-null  object
 27  DataValueTypeID             16549 non-null  object
 28  LocationID                  16549 non-null  int64
 29  StratificationCategory1     16548 non-null  object
 30  Stratification1             16548 non-null  object
 31  StratificationCategoryId1   16548 non-null  object
 32  StratificationID1           16548 non-null  object
 33  calculated_num_obese        14984 non-null  float64
dtypes: float64(7), int64(3), object(24)
memory usage: 4.4+ MB

In [64]:
no_fruit_df = data_df[data_df['Question'] == 'Percent of adults who report consuming fruit less than one time daily']
no_fruit_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4565 entries, 22 to 88627
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   4565 non-null   int64
 1   YearEnd                     4565 non-null   int64
 2   LocationAbbr                4565 non-null   object
 3   LocationDesc                4565 non-null   object
 4   Datasource                  4565 non-null   object
 5   Class                       4565 non-null   object
 6   Topic                       4565 non-null   object
 7   Question                    4565 non-null   object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             4565 non-null   object
 10  Data_Value                  4080 non-null   float64
 11  Data_Value_Alt              4080 non-null   float64
 12  Data_Value_Footnote_Symbol  485 non-null    object
 13  Data_Value_Footnote         485 non-null    object
 14  Low_Confidence_Limit        4080 non-null   float64
 15  High_Confidence_Limit       4080 non-null   float64
 16  Sample_Size                 4080 non-null   float64
 17  Total                       163 non-null    object
 18  Age(years)                  978 non-null    object
 19  Education                   652 non-null    object
 20  Gender                      326 non-null    object
 21  Income                      1141 non-null   object
 22  Race/Ethnicity              1304 non-null   object
 23  GeoLocation                 4481 non-null   object
 24  ClassID                     4565 non-null   object
 25  TopicID                     4565 non-null   object
 26  QuestionID                  4565 non-null   object
 27  DataValueTypeID             4565 non-null   object
 28  LocationID                  4565 non-null   int64
 29  StratificationCategory1     4564 non-null   object
 30  Stratification1             4564 non-null   object
 31  StratificationCategoryId1   4564 non-null   object
 32  StratificationID1           4564 non-null   object
 33  calculated_num_obese        4080 non-null   float64
dtypes: float64(7), int64(3), object(24)
memory usage: 1.2+ MB

In [65]:
no_vegetables_df = data_df[data_df['Question'] == 'Percent of adults who report consuming vegetables less than one time daily']
no_vegetables_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4565 entries, 75 to 88624
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   4565 non-null   int64
 1   YearEnd                     4565 non-null   int64
 2   LocationAbbr                4565 non-null   object
 3   LocationDesc                4565 non-null   object
 4   Datasource                  4565 non-null   object
 5   Class                       4565 non-null   object
 6   Topic                       4565 non-null   object
 7   Question                    4565 non-null   object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             4565 non-null   object
 10  Data_Value                  4075 non-null   float64
 11  Data_Value_Alt              4075 non-null   float64
 12  Data_Value_Footnote_Symbol  490 non-null    object
 13  Data_Value_Footnote         490 non-null    object
 14  Low_Confidence_Limit        4075 non-null   float64
 15  High_Confidence_Limit       4075 non-null   float64
 16  Sample_Size                 4075 non-null   float64
 17  Total                       163 non-null    object
 18  Age(years)                  978 non-null    object
 19  Education                   652 non-null    object
 20  Gender                      326 non-null    object
 21  Income                      1141 non-null   object
 22  Race/Ethnicity              1304 non-null   object
 23  GeoLocation                 4481 non-null   object
 24  ClassID                     4565 non-null   object
 25  TopicID                     4565 non-null   object
 26  QuestionID                  4565 non-null   object
 27  DataValueTypeID             4565 non-null   object
 28  LocationID                  4565 non-null   int64
 29  StratificationCategory1     4564 non-null   object
 30  Stratification1             4564 non-null   object
 31  StratificationCategoryId1   4564 non-null   object
 32  StratificationID1           4564 non-null   object
 33  calculated_num_obese        4075 non-null   float64
dtypes: float64(7), int64(3), object(24)
memory usage: 1.2+ MB

In [66]:
alabama_df = data_df[data_df['LocationAbbr'] == 'AL']
alabama_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1,calculated_num_obese
9,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q036,VALUE,1,Age (years),25 - 34,AGEYR,AGEYR2534,210.0
48,2016,2016,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q037,VALUE,1,Age (years),55 - 64,AGEYR,AGEYR5564,495.0
119,2018,2018,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q037,VALUE,1,Age (years),35 - 44,AGEYR,AGEYR3544,229.0
236,2020,2020,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE,788.0
305,2016,2016,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,OWS,OWS1,Q036,VALUE,1,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI,NaN